.main-content {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 20px;
  padding: 0 70px;
}

.main-right-building {
  position: relative;
  text-align: center;
}

#b-svg-container {
  position: absolute;
}

.search-layout {
  border-right: 1px solid #e5e5e5;
  position: relative;
}

.default-poly-fill {
  opacity: 0;
  cursor: pointer;
}

.main-right-building img {
  max-height: 530px;
}

/* .tooltip {
  position: absolute;
  top: 100%;
  left: 50%;
  
  transform: translateX(-50%);
  background-color: rgba(0, 0, 255, 0.8);
  padding: 5px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
} */

.floor-info {
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: rgb(18, 73, 118);
  padding: 5px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  pointer-events: none; /* Prevent the tooltip from capturing mouse events */
  z-index: 999; /*Set a higher z-index to ensure it appears on top of other elements */
  opacity: 1;
}

.floor-info.active {
  display: block;
}

.isloading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* sets triangle on the left side of the floor-info */
.floor-info {
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: rgb(18, 73, 118);
  padding: 5px 8px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  pointer-events: none;
  z-index: 999;
  opacity: 1;
  max-width: 200px;
  min-width: 200px;
}

.floor-info::before {
  content: "";
  position: absolute;
  bottom: 30%;
  left: 105%;
  transform: translateX(-90%) rotate(90deg);
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 10px solid rgb(18, 73, 118);
}
