.apartment-details {
  display: grid;
  grid-template-columns: 0.8fr 1fr;
  margin: 0 80px;
  background-color: #fff;
  padding: 20px;
}

.apartment-description {
  background-color: rgb(229, 229, 229);
  border-right: 1px solid #e5e5e5;
}

.apartment-price {
  background-color: rgb(220, 219, 219);
  padding: 15px;
  margin-bottom: 15px;
}

.apartment-price h3 {
  color: rgb(59, 59, 59);
  margin-bottom: 10px;
}

.apartment-price p {
  color: rgb(120, 117, 117);
}

.apartment-imgs {
  position: relative;
  text-align: center;
}
.apartment-imgs button {
  position: absolute;
  top: 20px;
  left: 40px;
  padding: 7px 12px;
  cursor: pointer;
}

.apartment-details-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 250px;
}

.apartment-details-info > * {
  margin: 10px 30px 10px 50px;
  color: rgb(59, 59, 59);
}
