@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@800&family=Open+Sans:wght@300&family=Playfair+Display&display=swap");

.main-choose-building {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 60px;
  gap: 60px;
}

.main-choose-building::before,
.main-choose-building::after {
  content: "";
  position: absolute;
  max-height: 400px;
  top: 0;
  bottom: 0;
  width: 20%;
  background-repeat: repeat;
  background-size: cover;
  z-index: -1;
}

.main-choose-building::before {
  left: 0;
  background-image: url("../../utils/png/leaves-scaled.webp");
}

.main-choose-building::after {
  right: 0;
  background-image: url("../../utils/png/leaves-scaled.webp");
}

.intro {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 2rem 0 0 50px;
}

.main-paragraph {
  color: #8c8f9c;
  max-width: 250px;
  font-size: 10px;
  font-weight: 400;
  line-height: 20px;
}

.main-title {
  border-left: 4px solid rgba(24, 158, 73, 0.982);
}

.main-title h2 {
  margin-left: 10px;
  color: rgb(68, 166, 68);
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  width: 300px;
  font-family: "Playfair Display", serif;
}

.home-buttons {
  display: flex;
  gap: 10px;
}

.home-buttons > * {
  padding: 10px 4px;
  text-align: center;
  width: 130px;
  cursor: pointer;
  text-decoration: none;
  border-radius: 4px;
  font-size: 11px;
  font-weight: 600;
  line-height: 12px;
  font-family: "BPG Nino Mtavruli", sans-serif;
}

.home-buttons > *:hover {
  box-shadow: 0 8px 20px #3c46641f;
}
.choose-building-link {
  color: #f8f8f8;
  background-color: rgb(55, 57, 67);
}
.contact-us {
  color: rgb(55, 57, 67);
  background-color: #f8f8f8;
}

.choose-building-img {
  max-height: 250px;
}

@media only screen and (min-width: 768px) {
  .main-choose-building {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 60px;
  }

  .choose-building-img {
    max-height: 380px;
  }

  .main-paragraph {
    max-width: 450px;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
  }

  .main-title h2 {
    width: 350px;
    font-size: 18px;
  }

  .home-buttons > * {
    padding: 8px;
    width: 160px;
    font-size: 13px;
    margin-top: 15px;
  }
}

@media only screen and (min-width: 1024px) {
  .main-choose-building {
    display: flex;
    flex-direction: row;
    padding: 2rem;
  }

  .choose-building-img {
    max-width: 520px;
    max-height: 550px;
  }

  .intro {
    max-width: 330px;
    margin: 0 0 0 60px;
  }
}

@media only screen and (min-width: 1248px) {
  .intro {
    max-width: 100%;
    margin-bottom: 3rem;
    gap: 30px;
  }

  .choose-building-img {
    max-width: 550px;
  }

  /* 
  .choose-building-link {
    display: block;
    margin-top: 40px;
    font-size: 25px;
    width: 300px;
    padding: 25px 10px;
    text-align: center;
  } */

  .main-title h2 {
    display: inline;
    font-size: 1.4rem;
    max-width: 800px;
  }

  .main-paragraph {
    font-size: 1.1rem;
    line-height: 30px;
  }

  .home-buttons > * {
    padding: 12px;
    width: 190px;
    font-size: 16px;
    margin-top: 15px;
  }
}

@media only screen and (min-width: 1400px) {
  .choose-building-img {
    max-width: 750px;
  }
}
