.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #fff;
  padding: 1.2rem;
  border-bottom: 1px solid #e5e5e5;
  /* box-sizing: border-box; */
}

.nav-content {
  display: flex;
  justify-content: space-between;
}

.nav-links {
  margin-top: 30px;
  margin-right: 6rem;
}

.nav-icon {
  height: 30px;
  width: 30px;
  color: gray;
  cursor: pointer;
}

.nav-icons {
  margin: 30px 0 0 10px;
}

.nav-icon-instagram {
  margin: 0 4rem 0 0.5rem;
}
.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-list a {
  text-decoration: none;
  margin: 0 5px;
  padding: 26px;
  font-size: 1.2rem;
  color: #888888;
  font-family: "BPG Nino Mtavruli", sans-serif;
}

.nav-list a:hover {
  color: #1d84a1;
}

.nav-list a.active {
  color: #1d84a1;
  border-bottom: 4px solid rgb(21, 133, 135);
}

.logo {
  margin: 25px 25px 0px 8rem;
  max-width: 14rem;
  max-height: 14rem;
}

.nav-container .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: rgb(147, 147, 147);
  display: none;
}

@media only screen and (max-width: 1148px) {
  .nav-container {
    padding: 0.4rem;
    min-height: 70px;
    width: 100%;
  }

  .nav-container .nav-btn {
    display: block;
    margin: 10px 2.5rem 0px 0px;
    font-size: 1.8rem;
  }
  .logo {
    margin: 10px 0 0 6rem;
  }

  .nav-list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    position: fixed;
    top: 69px;
    right: -300px;
    width: 300px;
    height: 100vh;
    background-color: #2a3239;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 40px 0 0 10px;
    transition: 0.3s ease-in-out;
  }

  .active {
    right: 0px;
  }

  .nav-icons {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    position: fixed;
    bottom: 45%;
    right: -300px;
    margin-right: 8rem;
    transition: 0.3s ease-in-out;
  }

  .active {
    right: 0px;
  }

  .nav-close-btn {
    position: fixed;
    top: 75px;
    right: -20px;
  }
}
