.choose-building-container {
  position: relative;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.building-container {
  position: relative;
}

#c-b-svg-container {
  position: absolute;
}

#c-b-svg-container polygon {
  cursor: pointer;
}

/* .choose-building-container::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  background-size: contain;
  z-index: -1;
  background-image: url("../../utils/png/leaves-scaled.webp");
  width: 100%;
  height: 70vh;
} */
.choose-building-container::before,
.choose-building-container::after {
  content: "";
  position: absolute;
  max-height: 400px;
  top: 0;
  bottom: 0;
  width: 20%;
  background-repeat: repeat;
  background-size: cover;
  z-index: -1;
}

.choose-building-container::before {
  left: 0;
  background-image: url("../../utils/png/leaves-scaled.webp");
}

.choose-building-container::after {
  right: 0;
  background-image: url("../../utils/png/leaves-scaled.webp");
}

/* .choose-building-container::before,
.choose-building-container::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  background-size: contain;
  z-index: -1;
}

.choose-building-container::before {
  left: 0;
  height: 100vh;
  width: 75%;
  background-image: url("../../utils/png/leaves-scaled.webp");
}

.choose-building-container::after {
  right: 0;
  width: 75%;
  height: 100vh;
  background-image: url("../../utils/png/leaves-scaled.webp");
} */
/* .background-img {
  position: absolute;
  max-height: 480px;
  z-index: 0;
} */

.building-container img {
  max-width: 710px;
  max-height: 710px;
}
.poly-fill {
  /* fill: rgba(38, 231, 119, 0.4); */
  stroke: var(--main-polygon-color);
  /* stroke-dasharray: 0; */
  /* stroke-linecap: round;
  opacity: 1; */
  fill: var(--main-polygon-color);
  stroke-width: 4px;
  /* stroke: transparent; */
  transition-duration: 500ms;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.building-poly-text {
  color: #f1f1f1;
}

.poly-fill:hover {
  opacity: 0.4;
}

/* @media screen {
  .building-container img {
    max-width: 400px;
    max-height: 400px;
  }
} */
.coord-div {
  position: absolute;
  background-color: #1e3441;
  padding: 3px;
  border: 3px solid rgb(26, 51, 71);
  border-radius: 4px;
  /* height: 150px; */
  width: 230px;
  transform: translate(-50%, -100%);
  padding: 4px;
  height: 90px;
  width: 200px;
}

.building-poly-text {
  margin: 2px 0px;
}

.coord-div::before {
  content: "";
  position: absolute;
  bottom: -11px; /* Adjust the distance from the bottom */
  left: calc(50% - 10px); /* Adjust the horizontal position */
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid rgb(26, 51, 71); /* Match the background color of the coord-div */
}

.choose-building-icons {
  margin-right: 4px;
  color: rgb(88, 112, 126);
}

@media only screen and (max-width: 768px) {
  .building-container img {
    max-width: 550px;
    max-height: 550px;
  }

  .coord-div {
    height: 60px;
    width: 110px;
    padding: 6px;
  }

  .building-poly-text {
    padding: 2px;
    width: 100px;
    font-size: 8px;
  }
}

@media only screen and (max-width: 578px) {
  .building-container img {
    max-width: 350px;
    max-height: 350px;
  }
  .coord-div {
    height: 50px;
    width: 120px;
    padding: 0px 2px;
    margin: 0;
  }

  .building-poly-text {
    font-size: 8.5px;
    margin: 1px 0px;
    padding: 0;
  }
}
