.floor-details {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.floor-container {
  position: relative;
}

.floor-container svg {
  position: absolute;
}

.floor-container svg polygon {
  cursor: pointer;
}

.poly-fill.sold-apartment {
  stroke: rgba(47, 163, 234, 0.64);
  fill: rgba(190, 24, 13, 0.64);
  stroke-width: 4px;
  opacity: 0.7;
  cursor: default;
}

.coord-div {
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: #3eb3d1;
  border: 1px solid #a84242;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 10px;
}

.apartment-poly-text {
  height: 25px;
  width: 200px;
  font-size: 1rem;
  overflow: hidden;
  color: rgb(75, 71, 71);
}

.apartment-coord-div {
  position: absolute;
  background-color: #2488a6;
  padding: 8px;
  border: none;
  border-radius: 4px;
  height: 4rem;
  display: flex;
  flex-direction: column;
  width: 7rem;
}

.apartment-coord-div::before {
  content: "";
  position: absolute;
  bottom: -8px; /* Adjust the distance from the bottom */
  left: calc(50% - 10px); /* Adjust the horizontal position */
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #2488a6; /* Match the background color of the coord-div */
}
