.floor-details {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.floor-details::before,
.floor-details::after {
  content: "";
  position: absolute;
  max-height: 400px;
  top: 0;
  bottom: 0;
  width: 20%;
  background-repeat: repeat;
  background-size: cover;
  z-index: -1;
}

.floor-details::before {
  left: 0;
  background-image: url("../../utils/png/leaves-scaled.webp");
}

.floor-details::after {
  right: 0;
  background-image: url("../../utils/png/leaves-scaled.webp");
}

.floor-container {
  position: relative;
  margin-top: 30px;
}

.apartment-poly-fill {
  stroke: var(--main-polygon-color);
  fill: var(--main-polygon-color);
  stroke-width: 4px;
  transition-duration: 500ms;
  opacity: 0.4;
  transition: all 0.3s ease-in-out;
}

.floor-container img {
  width: 250px;
}

.floor-container svg {
  position: absolute;
}

.floor-container svg polygon {
  cursor: pointer;
}

.apartment-poly-fill.sold-apartment {
  stroke: rgba(47, 163, 234, 0.64);
  fill: rgba(190, 24, 13, 0.64);
  stroke-width: 4px;
  opacity: 0.6;
  cursor: default;
}

.coord-div {
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: #3eb3d1;
  border: 1px solid #a84242;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 10px;
}

.apartment-poly-text {
  width: 50px;
  font-size: 8px;
  overflow: hidden;
  color: rgb(75, 71, 71);
  margin-left: 4px;
  color: #f1f1f1;
}
.apartment-poly-text span {
  margin-left: 12px;
}

/* .poly-fill {
  fill: #2488a6;
} */

.apartment-coord-div {
  position: absolute;
  background-color: #1e3441;
  padding: 5px 8px;
  border: none;
  border-radius: 4px;
  height: 33px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60px;
}

.apartment-coord-div::before {
  content: "";
  position: absolute;
  bottom: -4px; /* Adjust the distance from the bottom */
  left: calc(50% - 10px); /* Adjust the horizontal position */
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #1e3441;
}

@media only screen and (min-width: 481px) {
  .floor-container img {
    width: 350px;
  }
  .apartment-poly-text {
    width: 50px;
    font-size: 10px;
  }
  .apartment-poly-text span {
    margin-left: 12px;
  }
  .apartment-coord-div {
    height: 38px;
    width: 70px;
  }
}

@media only screen and (min-width: 789px) {
  .floor-container img {
    width: 450px;
  }
  .apartment-poly-text {
    width: 60px;
    font-size: 12px;
  }
  .apartment-poly-text span {
    margin-left: 14px;
  }
  .apartment-coord-div {
    height: 43px;
    width: 80px;
  }
}

@media only screen and (min-width: 1024px) {
  .floor-container img {
    width: 550px;
  }
  .apartment-poly-text {
    width: 70px;
    font-size: 14px;
  }
  .apartment-poly-text span {
    margin-left: 20px;
  }
  .apartment-coord-div {
    height: 48px;
    width: 100px;
  }
}

@media only screen and (min-width: 1248px) {
  .floor-container img {
    width: 750px;
  }
  .apartment-poly-text {
    width: 80px;
    font-size: 16px;
  }
  .apartment-poly-text span {
    margin-left: 26px;
  }
  .apartment-coord-div {
    height: 53px;
    width: 120px;
  }
}
