.search-container {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  /* max-height: 150px; */
  /* width: 320px; */
  width: 340px;
  padding-bottom: 8px;
  box-shadow: 0 8px 20px #3c46641f;
  background-color: rgba(252, 252, 252, 0.51);
}
.search-form {
  display: block;
  padding: 0px 4px;
  min-width: 100%;
}

.search-submit {
  width: 135px;
  height: 33px;
  border-radius: 4px;
  border: 1px solid grey;
  cursor: pointer;
}
.search-submit .search-icon {
  margin-right: 4px;
  margin-top: 4px;
  font-size: 8.5px;
}

.search-title h4 {
  font-size: 9.5px;
  padding-left: 4px;
  margin-left: 2px;
  margin-right: 6px;
  color: rgba(14, 121, 60, 0.982);
  border-left: 2px solid rgba(40, 207, 112, 0.982);
  display: inline-block;
}

#minSquare {
  margin: 6px 2px;
}

.found-apartments-list {
  margin: 0px 20px;
}

.found-apartments-info {
  display: flex;
  justify-content: space-between;
  margin: 2px 0px;
  padding: 0px 2px;
  width: 300px;
}
.found-apartments-info span:nth-child(2) {
  margin-right: 26px;
}

.found-apartments-info span:nth-child(3) {
  margin-right: 36px;
}

.found-apartments-info span:nth-child(4) {
  margin: 0px 0px 0px 8px;
}

.found-apartments-info span {
  color: rgb(29, 98, 75);
  font-size: 9px;
  letter-spacing: 0.1px;
  font-weight: bold;
}
.search-submit {
  border-radius: 4px;
  border: none;
  width: 80px;
  padding-bottom: 4px;
  margin-left: 7px;
  height: 23px;
  font-size: 9px;
  color: #fff;
  background-color: var(--main-navlink-color);
}

.select-form {
  padding: 2px;
  cursor: pointer;
  font-size: 8.5px;
}
.apartment-list-item {
  display: flex;
  justify-content: space-between;
  padding: 2.5px;
  cursor: pointer;
  width: 300px;
  background-color: rgba(156, 174, 172, 0.612);
}

.even {
  background-color: rgb(29, 98, 75, 0.64);
}

.apartment-list-item span {
  font-size: 8.5px;
  font-weight: 600;
  color: rgb(43, 56, 52);
}

@media only screen and (min-width: 481px) {
  .search-container {
    height: 150px;
    width: 480px;
    padding: 10px 10px;
    align-items: center;
  }
  .search-form {
    text-align: center;
    width: 480px;
  }
  .search-submit {
    width: 90px;
    height: 27px;
    margin-left: 14px;
  }

  .search-title h4 {
    font-size: 10px;
    padding-left: 6px;
    margin-left: 4px;
    margin-right: 10px;
  }

  .select-form {
    padding: 2px 4px;
    cursor: pointer;
    font-size: 9px;
  }
  #minSquare {
    margin: 6px 4px;
  }

  .found-apartments-list {
    margin: 0px 20px;
  }

  .found-apartments-info {
    display: flex;
    justify-content: space-between;
    margin: 5px 0px;
    padding: 0px 4px;
    width: 340px;
  }

  .found-apartments-info span {
    font-size: 9px;
  }

  .apartment-list-item {
    width: 340px;
  }
  .search-submit .search-icon {
    margin-right: 6px;
  }
}

@media only screen and (min-width: 1024px) {
  .search-container {
    height: 370px;
    width: 480px;
    padding: 10px;
    align-items: center;
    margin: 0;
  }
  .search-submit {
    width: 110px;
    height: 27px;
    margin-left: 14px;
    font-size: 11px;
  }

  .search-title h4 {
    font-size: 12px;
    padding-left: 6px;
    margin-left: 2px;
    margin-right: 6px;
    border-left: 4px solid rgba(40, 207, 112, 0.982);
  }

  .select-form {
    padding: 2px 4px;
    cursor: pointer;
    font-size: 11px;
  }
  #minSquare {
    margin: 8px 6px;
  }

  .found-apartments-list {
    margin: 0px 30px;
  }

  .found-apartments-info {
    display: flex;
    justify-content: space-between;
    margin: 5px 0px;
    padding: 0px 4px;
    width: 440px;
  }

  .found-apartments-info span {
    font-size: 12px;
  }

  .apartment-list-item {
    width: 440px;
  }
  .apartment-list-item span {
    font-size: 11px;
    margin-left: 14px;
    padding: 4px;
  }
  .search-submit .search-icon {
    margin-right: 8px;
  }
}

@media only screen and (min-width: 1224px) {
  .search-container {
    /* display: inline-block; */
    height: 470px;
    min-width: 600px;
  }

  .search-form {
    width: 600px;
  }
  .search-submit {
    width: 130px;
    height: 30px;
    margin-left: 14px;
    font-size: 13px;
  }

  .search-title h4 {
    font-size: 16px;
    padding-left: 6px;
    margin-left: 2px;
    margin-right: 6px;
    border-left: 4px solid rgba(40, 207, 112, 0.982);
  }

  .select-form {
    padding: 2px 4px;
    cursor: pointer;
    font-size: 13px;
  }
  #minSquare {
    margin: 10px 8px;
  }

  .found-apartments-list {
    margin: 0px 30px;
  }

  .found-apartments-info {
    display: flex;
    justify-content: space-between;
    margin: 5px 0px;
    padding: 0px 4px;
    width: 480px;
  }

  .found-apartments-info span {
    font-size: 14px;
  }

  .apartment-list-item {
    width: 480px;
  }
  .apartment-list-item span {
    font-size: 11px;
    margin-left: 14px;
    padding: 4px;
  }
  .search-submit .search-icon {
    margin-right: 8px;
  }
}

@media only screen and (min-width: 1448px) {
  .search-container {
    min-height: 500px;
    min-width: 700px;
  }

  .search-form {
    width: 700px;
  }
  .search-submit {
    width: 150px;
    height: 30px;
    margin-left: 20px;
    font-size: 15px;
  }

  .search-title h4 {
    font-size: 17px;
  }

  .select-form {
    padding: 2px 4px;
    cursor: pointer;
    font-size: 15px;
  }
  #minSquare {
    margin: 10px 8px;
  }

  .found-apartments-list {
    margin: 0px 30px;
  }

  .found-apartments-info {
    width: 580px;
  }

  .found-apartments-info span {
    font-size: 16px;
  }

  .apartment-list-item {
    width: 580px;
  }
  .apartment-list-item span {
    font-size: 13px;
    margin-left: 25px;
  }
  .search-submit .search-icon {
    margin-right: 12px;
    font-size: 12px;
  }
}
/* .search-container {
  overflow-y: scroll;
  background-color: rgba(252, 252, 252, 0.51);
  height: 500px;
}

.found-apartments-list {
  margin: 0px 40px;
}
.apartment-list-item {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 2px;
  background-color: rgba(156, 174, 172, 0.612);
}

.even {
  background-color: rgb(29, 98, 75, 0.64);
}

.search-title {
  display: inline-block;
}

.search-title h4 {
  margin-left: 10px;
  color: rgba(14, 121, 60, 0.982);
} */
/* .search-form {
  display: flex;
  align-items: center;
  margin: 10px 40px;
  position: relative;
  min-width: 500px;
} */
/* 
.search-submit {
  position: absolute;
  top: 6px;
  right: 0;
  width: 110px;
  height: 30px;
  border-radius: 4px;
  border: 1px solid grey;
}

.select-form {
  padding: 5px;
  cursor: pointer;
}

#minSquare {
  margin: 30px 12px;
} */

/* .search-submit {
  cursor: pointer;
  padding: 3px;
  margin-left: 20px;
} */
/* .found-apartments-info {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
}

.apartment-list-item span {
  color: rgb(43, 56, 52);
}

.found-apartments-info span {
  color: rgb(29, 98, 75);
  font-size: 16px;
  letter-spacing: 0.5px;
  font-weight: bold;
}

.found-apartments-info span:nth-child(3) {
  margin-left: 40px;
}

.found-apartments-info span:nth-child(4) {
  margin: 0px 20px 0px 65px;
} */

/* .price-span {
  white-space: nowrap;
} */

/* @media only screen and (max-width: 768px) { */

/* } */
